<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office" lang="en">
<head>
    <title></title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--[if !mso]>-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!--<![endif]-->
    <meta name="x-apple-disable-message-reformatting" content=""/>
    <meta content="target-densitydpi=device-dpi" name="viewport"/>
    <meta content="true" name="HandheldFriendly"/>
    <meta content="width=device-width" name="viewport"/>
    <meta name="format-detection" content="telephone=no, date=no, address=no, email=no, url=no"/>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&amp;display=swap"
          rel="stylesheet" type="text/css"/>
    <style type="text/css">
        * {
            font-family: 'Fira Sans', sans-serif;
        }

        .text-gradient {
            background: linear-gradient(to right, #2563eb, #8b5cf6); /* Zmeňte toto na požadovaný gradient */
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    </style>

</head>
<body>

<div style="width: 100%;height: 100%">
    <div style="margin: 40px auto 40px auto; ">

        <div class="text-gradient text-center " style="font-weight: 900;font-size: 3rem">
            Asylia.io
        </div>

    </div>

</div>

</body>

